@import "../../styles/colors";
@import "../../styles/vars";

.nav-item {
  padding: 5px;
  a {
    font-size: 13px;
    font-weight: 400;
  }
}

.nav-link {
  color: $white;

  font-weight: 400;
  @include appTransition();
}

.nav-link:hover {
  color: rgba($color: $white, $alpha: 0.7);
}

.router-link-active {
  color: $sharpYellow;
}

.dropdown-menu {
  left: 0;
  border: 0;
  padding: 0;
}

.dropdown-item {
  padding: 10px;
  color: $white;
  @include appTransition();
}
.dropdown-item:hover {
  a {
    color: rgba($color: $white, $alpha: 0.7);
  }
  background-color: transparent;
  color: rgba($color: $white, $alpha: 0.7);
  color: rgba($color: $white, $alpha: 0.7);
}

.link-button {
  padding: 10px 20px;
  border: 0.5px solid rgba($color: $white, $alpha: 0.7);
  background-color: rgba($color: $white, $alpha: 0);
  @include appTransition();
}

.link-button :hover {
  background-color: rgba($color: $white, $alpha: 0.7);
}
