<div class="container-fluid bg-footer">
  <div class="row">
    <div class="col-lg-7 footer-height footer-container">
      <span class="footer-copy text-white">Copyright &copy; {{ year }} Flash Cash Inc.| All Rights Reserved. </span>
    </div>
    <div class="col-lg-5 footer-height centered-flex">
      <div>
        <div>
          <span class="footer-contact">Contact US</span>
        </div>
        <div>
          <div class="contact-section">
            <span class="contact-header"> <i class=""> </i> On The Phone </span>
            <span class="contact-text">+234 (0) 802 339 8273</span>
          </div>
          <div class="contact-section">
            <span class="contact-header"> <i class=""> </i> Via Email </span>
            <span class="contact-text">info@flashcash.com</span>
          </div>
          <div class="contact-section">
            <span class="contact-header"> <i class=""> </i> Visit Us</span>
            <span class="contact-text">123 Somewhere avenue, Somewher, Some place</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
