<div class="container-fluid  col-lg-12">
  <div class="row">
    <div class="col-lg-12 center-text">
      <span class="capitalize home-header text-dark-purp">Stuff you may ask</span>
    </div>
  </div>
  <div class="centered-flex">
    <div class="col-lg-10">
      <div class="col-lg-12 home-content-height">
        <div class="row">
          <div class="col-lg-3">
            <div class="faq-box">
              <span class="block faq-heading text-dark-purp"><i class="fa fa-question-circle text-dark-purp"></i> How do Handle stuff?</span>
              <span class="block faq-answer">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi
              </span>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="faq-box">
              <span class="block faq-heading text-dark-purp"><i class="fa fa-question-circle text-dark-purp"></i> How do Handle stuff?</span>
              <span class="block faq-answer">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi
              </span>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="faq-box">
              <span class="block faq-heading text-dark-purp"><i class="fa fa-question-circle text-dark-purp"></i> How do Handle stuff?</span>
              <span class="block faq-answer">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi
              </span>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="faq-box">
              <span class="block faq-heading text-dark-purp"><i class="fa fa-question-circle text-dark-purp"></i> How do Handle stuff?</span>
              <span class="block faq-answer">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi
              </span>
            </div>
          </div>
        </div>
        <!-- Second row start -->
        <div class="row">
          <div class="col-lg-3">
            <div class="faq-box">
              <span class="block faq-heading text-dark-purp"><i class="fa fa-question-circle text-dark-purp"></i> How do Handle stuff?</span>
              <span class="block faq-answer">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi
              </span>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="faq-box">
              <span class="block faq-heading text-dark-purp"><i class="fa fa-question-circle text-dark-purp"></i> How do Handle stuff?</span>
              <span class="block faq-answer">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi
              </span>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="faq-box">
              <span class="block faq-heading text-dark-purp"><i class="fa fa-question-circle text-dark-purp"></i> How do Handle stuff?</span>
              <span class="block faq-answer">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi
              </span>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="faq-box">
              <span class="block faq-heading text-dark-purp"><i class="fa fa-question-circle text-dark-purp"></i> How do Handle stuff?</span>
              <span class="block faq-answer">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi
              </span>
            </div>
          </div>
        </div>
        <!-- Second row end -->
      </div>
    </div>
  </div>
</div>
