<div class="container-fluid bg-dark-purp">
  <div class="row">
    <div class="col-lg-12 center-text">
      <span class="capitalize home-header text-white">Using flash cash is simple</span>
    </div>
    <div class="col-lg-4 home-content-height centered-flex">
      <div class="center-text how-to-box">
        <img src="assets/imgs/load_wallet.svg" height="70" />
        <span class="block how-prompt capitalize">Load your wallet</span>
        <span class="block how-text"
          >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
          inventore veritatis.
        </span>
      </div>
    </div>
    <div class="col-lg-4 home-content-height centered-flex">
      <div class="center-text how-to-box">
        <img src="assets/imgs/transfer.svg" height="70" />
        <span class="block how-prompt capitalize">Transfer Money</span>
        <span class="block how-text"
          >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
          inventore veritatis.
        </span>
      </div>
    </div>
    <div class="col-lg-4 home-content-height centered-flex">
      <div class="center-text how-to-box">
        <img src="assets/imgs/checkout.svg" height="70" />
        <span class="block how-prompt capitalize">Check Out</span>
        <span class="block how-text"
          >Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
          inventore veritatis.
        </span>
      </div>
    </div>
  </div>
</div>
