.hero-height {
  min-height: 600px;
}

.home-content-height {
  min-height: 600px;
}

.footer-height {
  min-height: 300px;
}

.full-height {
  min-height: 100vh;
}
.full-page {
  min-height: 100vh;
}
