<div class="bg-app container-fluid page-padding">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="page-content-holder bg-white animated fadeIn">
        <div class="row ">
          <div class="col-lg-4 ">
            <div class="shadow-padding">
              <app-balance></app-balance>
              <app-swift-pay></app-swift-pay>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-6">
                <div class="shadow-padding">
                  <app-transfers-overview></app-transfers-overview>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="shadow-padding">
                  <app-acquisitions-overview></app-acquisitions-overview>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="shadow-padding">
                  <app-cashouts-overview></app-cashouts-overview>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
