<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <span class="overview-header">CashOuts</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="transaction-container" *ngFor="let cashout of cashouts">
        <span class="form-prompt">Reference</span>
        <span class="reference block">{{ cashout.transactionReference }}</span>
        <div class="block">
          <span class="trans-amount text-debit"> - {{ cashout.amount }}</span>
          <span class="trans-date pull-right"> {{ cashout.createdDate | date: "mediumDate" }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 right-text">
      <span class="overview-link" [routerLink]="['/home', 'transactions', 'value-checkout']" routerLinkActive="router-link-active">See All</span>
    </div>
  </div>
</div>
