<div class="container-fluid ">
  <div class="row full-page bg-purp centered-flex">
    <div class="col-lg-4 col-xs-10">
      <div class="login-box bg-white">
        <div class="form-row centered-flex">
          <span class="login-title">Password revovery</span>
          <span class="">Please enter your email address to recover your password</span>
        </div>
        <form [formGroup]="signUpForm" (ngSubmit)="handleSubmit()">
          <div class="form-row">
            <input type="text" class="login-input bg-input-purp " placeholder="Email Address" formControlName="emailAddress" />
            <div class="animated fadeIn" *ngIf="submitted && emailAddress.invalid">
              <span class="error-text-red" *ngIf="emailAddress.errors.required">Please enter your email address</span>
              <span class="error-text-red" *ngIf="emailAddress.errors.pattern">Please enter a valid email address</span>
            </div>
          </div>

          <div class="form-row centered-flex">
            <button class="login-button uppercase bg-purp" type="submit">
              Recover password
              <span *ngIf="loading"> &nbsp; <i class="fa fa-spin fa-spinner"></i> </span>
            </button>
          </div>
        </form>
        <div class="form-row centered-flex">
          <span class="">Don't need this now? &nbsp; <span class="link-up" [routerLink]="['']" routerLinkActive="router-link-active">Go Back</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
